body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;

  background: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
}

.content
{
  position: relative;
  top: 0;
  margin: 0 auto 0 auto;
  max-width: 896px;
  height: 100%
}

footer
{
  height: 6em;
  width: 100%;  
  text-align: center;
  color: rgb(125, 125, 125);
  font-size: 0.9em;
}

.disclosure
{
  top: 2em;
  position: relative;
  margin: 0;  
}

#navigation
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  border-bottom: 1px solid #ffffff;
  background: rgb(0, 0, 0);
  color: white;

  z-index: 100;
}

#navigation-content
{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: nowrap;
  flex-flow: nowrap;
}

.header-item
{
  height: 100%;
  margin: 0;
  line-height: 60px;
  text-align: center;
  display: block;  
}

#navigation h3
{
  margin: 0;
}

.header-item a, #navigation h3 a
{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed rgb(255, 255, 255);
}

#phone-number
{
  font-weight: normal;
  flex-grow: 1;
}

#title
{
  flex-grow: 2;
}

#address
{
  font-weight: normal;
  flex-grow: 1;
}

.panel
{
  position: relative;
  width: 100%;

  line-height: 1.85em;
  font-size: 1.15em;

  z-index: 50;
  background: white;

  margin-top: 60px;
}

.ios
{
  display: none;
}

.focal-photo
{
  display: block;
  position: relative;
  margin: 0 auto 0 auto;
  width: 100%;

}

#exterior-main-photo
{
  height: 380px;
  max-height: 400px;

  background: url('../photos/exterior-south-east.jpg') center center;
  background-size: cover;
}


a[href^=tel]
{
  color: inherit;
}

#services-table
{
  position: relative;

  width: 100%;
  table-layout: fixed;
  text-align: right;
}

table th, table tr
{
  height: 2em;
}

table th
{
  border-bottom: 2px solid black;
}

.service-general-header
{
  width: 26.333%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.service-intra-header
{
  font-weight: 700;
  border-bottom: 1px dashed black;
}

.service-annotates-above {
  font-style: italic;
  font-size: 0.75em;
}

.price-placeholder
{
  width: 7%;
}

#stylists-table
{
  width: 100%;

  text-align: right;
}

.stylist-name-header
{
  width: 25%;
}

.stylist-name-header-2
{
  width: 25%;
}

.stylist-number-header
{
  width: 25%;
}

.stylist-number-header-2
{
  width: 25%;
}

.section-header
{
  text-align: center;
  font-size: 2em;
  border-bottom: 3px double black;
  border-top: 3px double black;
  line-height: 2em;
}

.inline-left
{
  float: left;
  width: 60%;
  margin: 10px 10px 0px 0;
}

#map
{
  position:relative;
  width: 100%;
  height: 400px;
}

.compact {
  display: none;
}

@media all and (max-width : 896px) {
  .compact {
    display: block;
  }

  .expanded {
    display: none;
  }

  #container, #navigation-content
  {
    padding: 0 12px 0 12px;
  }

  table {
    font-size: 0.75em;
  }
}

@media all and (max-width : 500px) {
  #exterior-main-photo {
    height: 220px;
  }

  #title {
    display: none;
  }

  table {
    font-size: 0.5em;
  }
}
