:root {
  --background-color: #ffffff;

  --header-background-color: #000000;
  --header-text-color: #ffffff;
  --header-border-color: #ffffff;

  --body-divider-color: #000000;
  --body-text-color: #000000;

  --footer-text-color: rgb(125, 125, 125);

  --link-color: rgb(0, 128, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;

    --header-background-color: rgb(32, 32, 32);
    --header-text-color: #ffffff;
    --header-border-color: rgb(165, 165, 165);

    --body-divider-color: #ffffff;
    --body-text-color: #ffffff;

    --footer-text-color: rgb(200, 200, 200);

    --link-color: rgb(0, 155, 255);
  }
}

a {
  color: var(--link-color);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 24px 0;
  overflow-x: hidden;
  overflow-y: auto;

  background: var(--background-color);
  font-family: "Raleway", sans-serif;
  font-size: 14pt;
  color: var(--body-text-color);
}

.content {
  margin: 0 auto;
  max-width: 980px;
}

footer {
  height: 6em;
  width: 100%;
  padding: 0;
  text-align: left;
  color: var(--footer-text-color);
  font-size: 0.9em;
}

.disclosure {
  margin-top: 2em;
  line-height: 1.85em;
}

.disclosure-minor {
  font-size: 0.8em;
  margin: 0;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid var(--header-border-color);
  background: var(--header-background-color);
  color: var(--header-text-color);
  z-index: 100;
}

#navigation-content {
  display: flex;
  column-gap: 20px;
  flex-flow: nowrap;
  align-items: center;
}

.header-item {
  margin: 0;
  text-align: left;
  display: block;
}

#navigation h3 {
  margin: 0;
}

.header-item a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--header-text-color);
}

.header-item a:hover {
  color: skyblue;
}

#title {
  flex-grow: 2;
}

.panel {
  width: 100%;
  line-height: 1.85em;
  font-size: 1.15em;
  margin-top: 60px;
}

.focal-photo {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#exterior-main-photo {
  height: 380px;
  max-height: 400px;

  background: url("../photos/exterior-south-east.jpg") center center;
  background-size: cover;
}

a[href^="tel"] {
  color: inherit;
}

#services-table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
}

table th,
table tr {
  height: 2em;
  vertical-align: top;
}

table th {
  border-bottom: 2px solid var(--body-divider-color);
}

.service-general-header {
  width: 26.333%;
  padding-right: 0.5em;
}

.service-intra-header {
  font-weight: 700;
  border-bottom: 1px dashed var(--body-divider-color);
}

.service-annotates-above {
  font-style: italic;
  font-size: 0.75em;
}

.service-price-small {
  font-size: 0.75em;
}

.price-placeholder {
  width: 7%;
}

#stylists-table {
  width: 100%;
  text-align: left;
}

.stylist-name-header {
  width: 28%;
}

.stylist-number-header {
  width: 22%;
}

.section-header {
  text-align: left;
  font-size: 2em;
  border-bottom: 4px solid var(--body-divider-color);
  line-height: 1.8em;
}

#map {
  width: 100%;
  height: 400px;
}

#standalone-title {
  display: none;
}

@media (max-width: 980px) {
  #container,
  #navigation {
    padding: 16px 20px;
  }

  .header-item {
    text-align: left;
  }

  #title {
    display: none;
  }

  #standalone-title {
    display: block;
  }

  .panel {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  #exterior-main-photo {
    height: 220px;
  }

  table {
    font-size: 0.5em;
  }
}
